body {
  background: #555;
}

p {
  text-align: justify;
  font-size: 20px;
 
}

.box {
    min-height: 100;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: white;
  
  }
  
 
  .skyblue {
    background: deepskyblue;
  }